1-Programacion-Imperativa/Practicas-Resueltas/Tp1-Ordenacion/*.exe
1-Programacion-Imperativa/Practicas-Resueltas/Tp1-Ordenacion/*.o
*.exe
*.o
/2-Programacion-Orientada-Objetos(POO)/Practicas-Resueltas/PaquetePracticas/build/
